# === Visual Studio 2022 (IDE) ===
.vs/
[Bb]in/
[Оо]bj/
*.user
*.suo
*.sln.docstates
*.slnx.sqlite
ProjectSettings.json
VSWorkspaceState.json

# === Python Basics ===
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# === Pytest ===
TestResults/

# === Rosalind Data & Outputs ===
# Ignore all text files in Problem folders to keep the repo clean
Problems/**/*.txt
# If you use standard names like input.txt or output.txt
input.txt
output.txt
test_input.txt
answer.txt
rosalind_*.txt